@media screen and (max-width: 400px) {
  body {
    height: 100%;
  }

  .card {
    width: 20rem;
    .order-summary {
      padding: 1rem;

      &-title {
        margin-top: 1rem;
      }
    }
  }
}
