$primary-color: hsl(225, 100%, 94%); // pale blue
$primary-bright-color: hsl(245, 75%, 52%); // bright blue

$neutral-color: hsl(225, 100%, 98%); // Very pale blue
$neutral-desaturated-color: hsl(224, 23%, 55%); // desaturated blue
$neutral-dark-color: hsl(223, 47%, 23%); // dark blue
