@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: $primary-color;
  // width: 20rem;
  // line-height: 1.5;
  // overflow: hidden;
}

main {
  width: 20rem;
}

a,
button {
  background: transparent;
  cursor: pointer;
}

.bg-image {
  position: relative;
  // position: absolute;
  width: 100%;
  height: 50%;
  margin: 0;
  z-index: -1;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // position: relative;
  display: flex;
  flex-flow: column nowrap;
  // place-items: center center;

  max-width: 20rem;
  // width: 450px;
  // height: 20rem;
  // margin: auto;
  // margin-top: 40px;
  // margin: 0 auto;
  // border-radius: 20px;

  z-index: 2;
  img.illustration-hero {
    // width: 450px;
    // height: 220px;
    max-width: 20rem;
    border-radius: 30px 30px 0 0;
  }

  .order-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // width: 20rem;
    padding: 30px;
    // padding: 30px;
    // padding: 1.2rem;
    background-color: #fff;
    // background-color: $neutral-color;
    border-radius: 0 0 30px 30px;

    &-title {
      // margin-top: 0;
      text: {
        align: center;
      }
    }

    &-para {
      color: $neutral-desaturated-color;
    }
    // overflow: hidden;
    // width: 100%;

    // h2 {
    //   margin: 0;
    // }
  }

  .plan {
    // display: block;
    // display: flex;
    // display: grid;
    // grid-template-areas:
    //   '';

    padding: 0.7rem; // width: 80%;
    // background-color: $neutral-desaturated-color;
    background-color: $neutral-color;
    border-radius: 10px;

    // &-option {
    //   display: flex;
    // }

    // &-heading,
    // .charge {
    //   display: inline-block;
    //   // display: block;
    // }

    // .charge {
    //   float: right;
    // }
    > .icon-music {
      float: left;
      margin-right: 0.6rem;
    }

    .change-plan {
      font-size: 18px;
      float: right;
      margin: 0;
    }
  }

  .proceed {
    background-color: $primary-bright-color;
    color: $primary-color;
    padding: 10px;
    font-size: 1em;
    border-radius: 0.6em;
    margin-top: 1rem;
    box-shadow: $neutral-desaturated-color -2px 2px 19px;
  }

  .cancel-order {
    display: block;
    color: $neutral-desaturated-color;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
  }
}

@import "mobile";
